p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Reduce table row height */
.table > tbody > tr > td {
  padding: 1.5px;
}

.table > thead > tr > th {
  padding: 1.5px;
}

.table > tbody {
  padding: 1.5px;
}
