p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Reduce table row height */
.table > tbody > tr > td {
  padding: 1.5px;
}

.table > thead > tr > th {
  padding: 1.5px;
}

.table > tbody {
  padding: 1.5px;
}

/* Top-level box  to visually seperate items*/
.item-box {
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  border: 0.5px solid #e6e6e6;
  background-color: #ffffff00;
}

/* Mid-level box to visually seperate sections */
.section-box {
  font-size: smaller;
  line-height: 1.1em;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
  border: 4px solid #e6e6e6;
  background-color: #fdfdfd;
}

.section-box p {
  display: inline;      /* remove newline after p */
}

/* 5-column grid of variable names over varialble values*/
.grid-5w-2h {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 0.8em min-content;
  grid-auto-flow: column;
  grid-gap: 5px;
  padding: 2px;
  box-sizing: border-box;
}

.var-name {
  font-size: 0.8em;
  color: #000000;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}

.var-value {
  font-size: 0.8em;
  color: #000000;
  text-align: left;
  padding: 2px;
  line-height: 1em;
  height: 1fr;
  border-radius: 2px;
  border: 1px solid #C0C0C0;
  background-color: #dad8d8;
}

/* Create a transparent box to add vertical whitespace */
.white-box {
  height: 20px;
  width: 200px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #ffffff00;
  background-color: #ffffff00;
}

/* Prevent white space above headers */
.header h2, h3, h4 {
  margin: 0;
}

/* highlighted header */
.highlight h2, h3, h4 {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
  margin: 0;
}

/* Float an item to the right */
.right {
  float: right;
}

/* Prevent grey box around r figures */
.figure, .inline-figure {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Remove vertical scroll bars from bootstrap table */
.table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Control print formating */
@media print {
  .table-striped tbody tr:nth-of-type(odd) td {
      background-color: rgba(0,0,0,.05) !important;
      -webkit-print-color-adjust: exact;
  }

  .item-box {
    page-break-inside: avoid;
  }
  .section-box {
    page-break-inside: avoid;
  }

  .page-break {
  page-break-after: always;
  }
}
