.empty-box {
  height: 20px;
  width: 200px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #C0C0C0;
  background-color: #C0C0C0;
}

.var-name {
  font-size: 0.8em;
  color: #000000;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}

.var-value {
  font-size: 0.8em;
  color: #303030;
  text-align: left;
  padding: 1px;
  border-radius: 2px;
  border: 1px solid #C0C0C0;
  background-color: #C0C0C0;
}

.section-box {
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
}

.grid-5w-1h {
  display: grid;
  grid-template-columns: repeat(5, auto auto);
  grid-template-rows: 20px;
  grid-auto-flow: column;
  grid-gap: 5px;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
}

.grid-5w-2h {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 10px 20px;
  grid-auto-flow: column;
  grid-gap: 10px;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

.grid-6w-6h {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(3, 15px 20px);
  grid-auto-flow: column;
  grid-gap: 2px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

.group-3-horz {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: left middle right;
  grid-gap: 5px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.group-5-vert {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 1 2 3 4 5;
  grid-gap: 5px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.grid-6w-2h {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 10px 20px;
  grid-auto-flow: column;
  grid-gap: 5px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.grid-2w-4h {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, 20px);
  grid-gap: 5px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.grid-3w-6h {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(6, 20px);
  grid-gap: 5px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
